@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Tilt+Neon&display=swap');

body {
    font-family: "Arial", sans-serif;
    text-align: center;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: #222;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.content {
    z-index: 1;
    position: relative;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Kártyák */
.card {
    font-family: 'Tilt Neon', sans-serif;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s, box-shadow 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0);
}

.card a {
    text-decoration: none;
    color: #333333;
    transition: background-color 0.6s;
}

.card a:hover {
    background-color: #f0f0f000;
}

.card h2 {
    font-size: 24px;
    color: #333;
}

.card p {
    color: #666;
    font-size: 18px;
}

/* Képek */
.card img {
    border-radius: 15px;
    max-width: 80%;
    height: auto;
    margin: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
